<div class="row">
  <div class="col-md-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a routerLink="profile">Profile <i class="fa fa-angle-right"></i></a></li>
      <li class="list-group-item"><a routerLink="create-auction">Create Auction <i class="fa fa-angle-right"></i></a></li>
      <li class="list-group-item"><a routerLink="profile">Your Current Auctions <i class="fa fa-angle-right"></i></a></li>
      <li class="list-group-item"><a routerLink="profile">Your Expired Auctions <i class="fa fa-angle-right"></i></a></li>
      <li class="list-group-item"><a routerLink="profile">Winning Items <i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <router-outlet></router-outlet>
  </div>
</div>