<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header info-color white-text text-center py-4">
                <strong>Sign up</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0">
                <form class="text-center" style="color: #757575;">
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form">
                                <input type="text" id="materialRegisterFormFirstName" class="form-control" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form">
                                <input type="email" id="materialRegisterFormLastName" class="form-control" placeholder="Last Name">
                                <!-- <label for="materialRegisterFormLastName">Last name</label> -->
                            </div>
                        </div>
                    </div>
                    <div class="md-form mt-0">
                        <input type="email" id="materialRegisterFormEmail" class="form-control" placeholder="E-mail">
                        <!-- <label for="materialRegisterFormEmail">E-mail</label> -->
                    </div>
                    <div class="md-form">
                        <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
                            placeholder="Password">
                        <!-- <label for="materialRegisterFormPassword">Password</label> -->
                        <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                            At least 8 characters and 1 digit
                        </small>
                    </div>
                    <div class="md-form">
                        <input type="number" id="materialRegisterFormPhone" class="form-control" placeholder="Phone Number"
                            aria-describedby="materialRegisterFormPhoneHelpBlock">
                        <!-- <label for="materialRegisterFormPhone">Phone number</label> -->
                    </div>
                    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign
                        up</button>
                    <p>Already have an account?
                        <a routerLink="/login">Signin</a>
                    </p>
                    <hr>
                </form>
            </div>
        </div>
    </div>
</div>