<section class="text-center my-5 justify-content-center">
  <h2 class="h1-responsive font-weight-bold text-center my-5">Your Products</h2>
  <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
    nostrum quisquam eum porro a pariatur veniam.</p>
  <div class="row">
    <div class="col-lg-3 col-md-5 mb-lg-0 mb-4" *ngFor="let item of products">
      <div class="card card-cascade wider card-ecommerce" style="margin:10px">
        <div class="view view-cascade overlay">
          <img src={{item.itemImage[0]}} class="card-img-top" alt="sample photo" height="200px">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body card-body-cascade text-center">
          <a href="" class="text-muted">
            <h5>{{item.category}}</h5>
          </a>
          <h4 class="card-title">
            <strong>
              <a href="">{{item.title}}</a>
            </strong>
          </h4>
          <div class="card-footer px-1">
            <span class="float-left font-weight-bold">
              <strong>{{item.initialValue}}$</strong>
            </span>
            <span class="float-right">
              <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                <i class="fa fa-heart grey-text ml-3"></i>
              </a>
              <a class="" data-toggle="tooltip" data-placement="top" title="Update Product"
                (click)="openModal(updatePro,item)">
                <i class="fa fa-pencil-square-o grey-text ml-3"></i>
              </a>
              <a class="" data-toggle="modal" data-target="#modalQuickView" (click)="modalData(item)">
                <i class="fa fa-eye grey-text ml-3"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #updatePro>
  <div class="modal-header">
    <h4 class="modal-title">Update Your Product</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <div class="md-form">
            <input type="text" [(ngModel)]="item.title" class="form-control" placeholder="Title">
          </div>
        </div>
        <div class="col">
          <div class="col">
            <select class="my-select p-2" [(ngModel)]="item.category">
              <option disabled value="">Choose Category</option>
              <option value="Mobile & Accessories">Mobile & Accessories</option>
              <option value="Laptop & Computer">Laptop & Computer</option>
              <option value="Clothes">Clothes</option>
              <option value="Electronics & Home Appliances">Electronics & Home Appliances</option>
              <option value="Property">Property</option>
              <option value="Bikes">Bikes</option>
              <option value="Furniture And Home Decor">Furniture And Home Decor</option>
              <option value="Sports">Sports</option>
              <option value="Educational">Educational</option>
              <option value="Fashion & Beauty">Fashion & Beauty</option>
              <option value="Kids Garments">Kids Garments</option>
            </select>
          </div>
        </div>
      </div>
      <div class="md-form">
        <input type="text" [(ngModel)]="item.description" class="form-control" placeholder="Description">
      </div>

      <div class="form-row">
        <div class="col">
          <div class="md-form">
            <input type="number" [(ngModel)]="item.initialValue" class="form-control" placeholder="Price">
          </div>
        </div>
        <div class="col">
          <select class="my-select p-2" [(ngModel)]="item.status">
            <option disabled value="">Availability</option>
            <option value="true">Now</option>
            <option value="false">Later</option>
          </select>
        </div>
      </div>
    </div>

    <!-- <div class="input-group">
      <div class="input-group-prepend">
        <button type="button" class="input-group-text" (click)="upload()" [disabled]="uploader.queue.length === 0">{{uplod?
          'Uploaded':'Upload'}}</button>
      </div>
      <div class="custom-file">
        <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input" multiple>
        <label class="custom-file-label">Choose file</label>
      </div>
    </div>
    -->
    <div class="form-row">
      <div class="col">
        <div class="md-form">
          <span style="float:left;" *ngFor="let pic of item.itemImage">
            <img width="80px" height="50px" src={{pic}} alt="" style="padding-left: 5px">
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="updateProduct()">Update Me</button>
    </div>
  </div>
</ng-template>

<div *ngIf="showModal">
  <div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-5">
              <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src={{modalProduct.itemImage[0]}} alt="First slide">
                  </div>
                  <div class="carousel-item" *ngIf="modalProduct.itemImage[1]">
                    <img class="d-block w-100" src={{modalProduct.itemImage[1]}} alt="Second slide">
                  </div>
                  <div class="carousel-item" *ngIf="modalProduct.itemImage[2]">
                    <img class="d-block w-100" src={{modalProduct.itemImage[2]}} alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <ol class="carousel-indicators">
                  <li *ngIf="modalProduct.itemImage[0]" data-target="#carousel-thumb" data-slide-to="0" class="active">
                    <img class="d-block" src={{modalProduct.itemImage[0]}} class="img-fluid"></li>
                  <li *ngIf="modalProduct.itemImage[1]" data-target="#carousel-thumb" data-slide-to="0" class="active">
                    <img class="d-block" src={{modalProduct.itemImage[1]}} class="img-fluid"></li>
                  <li *ngIf="modalProduct.itemImage[2]" data-target="#carousel-thumb" data-slide-to="0" class="active">
                    <img class="d-block" src={{modalProduct.itemImage[2]}} class="img-fluid"></li>
                  <li *ngIf="modalProduct.itemImage[3]" data-target="#carousel-thumb" data-slide-to="0" class="active">
                    <img class="d-block" src={{modalProduct.itemImage[3]}} class="img-fluid"></li>
                </ol>
              </div>
            </div>
            <div class="col-lg-7">
              <h2 class="h2-responsive product-name">
                <strong>{{modalProduct.title? modalProduct.title:"No Title"}}</strong>
              </h2>
              <h4 class="h4-responsive">
                <span class="green-text">
                  <strong>{{modalProduct.initialValue | currency}}</strong>
                </span>
              </h4>
              <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                <div class="card">
                  <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false"
                      aria-controls="collapseOne1">
                      <h5 class="mb-0">
                        Description<i class="fa fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                    data-parent="#accordionEx">
                    <div class="card-body">
                      {{modalProduct.description}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button class="btn btn-primary">Add to cart
                    <i class="fa fa-cart-plus ml-2" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>