<header>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="#">
            <img src="https://res.cloudinary.com/shahrukhmushtaq/image/upload/v1549451912/auction-users/pinterest_board_photo.png"
                style="height:41px; width:65px" class="d-inline-block align-top" alt="mdb logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            id="ss" aria-expanded="false" aria-controls="navbarSupportedContent-333" aria-label="Toggle navigation"
            (click)="onOff()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent-333" [class]="getClass()">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [class]="setActive('/dashboard')">
                    <a class="nav-link" routerLink="" style="display: inline-block;"><i class="fa fa-home"></i> <span
                            class="clearfix d-none d-sm-inline-block">Home</span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="auth.isAuthenticated()" [class]="setActive('/user/profile')">
                    <a class="nav-link" routerLink="user" style="display: inline-block;"><i class="fa fa-user"></i>
                        <span class="clearfix d-none d-sm-inline-block">Account</span></a>
                </li>
                <li class="nav-item" *ngIf="!auth.isAuthenticated()" [class]="setActive('/login')">
                    <a class="nav-link" routerLink="login" style="display: inline-block;"><i class="fa fa-sign-in"></i>
                        <span class="clearfix d-none d-sm-inline-block">SignIn</span></a>
                </li>
                <li class="nav-item" [class]="setActive('/contact-us')">
                    <a class="nav-link" routerLink="contact-us" style="display: inline-block;"><i
                            class="fa fa-envelope"></i> <span
                            class="clearfix d-none d-sm-inline-block">Contact</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="auth.isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" style="display: inline-block;">
                        <img src={{profilePic}} class="rounded-circle z-depth-0" alt="avatar image" height="35">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>