<div class="row justify-content-center">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div class="card">
      <h5 class="card-header info-color white-text text-center py-4">
        <strong>Add Your Product</strong>
      </h5>
      <div class="card-body px-lg-5 pt-0">
        <form [formGroup]="productForm" class="text-center" style="color: #757575;" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="col">
              <div class="md-form">
                <input type="text" class="form-control" placeholder="Title" formControlName="title">
              </div>
            </div>
            <div class="col">
              <select class="my-select p-2" formControlName="category">
                <option disabled value="">Choose Category</option>
                <option value="Mobile & Accessories">Mobile & Accessories</option>
                <option value="Laptop & Computer">Laptop & Computer</option>
                <option value="Clothes">Clothes</option>
                <option value="Electronics & Home Appliances">Electronics & Home Appliances</option>
                <option value="Property">Property</option>
                <option value="Bikes">Bikes</option>
                <option value="Furniture And Home Decor">Furniture And Home Decor</option>
                <option value="Sports">Sports</option>
                <option value="Educational">Educational</option>
                <option value="Fashion & Beauty">Fashion & Beauty</option>
                <option value="Kids Garments">Kids Garments</option>
                <option value="Vehicles">Vehicles</option>
              </select>
            </div>
          </div>
          <div class="md-form">
            <input type="text" class="form-control" placeholder="Description" formControlName="description">
          </div>
          <div class="form-row">
            <div class="col">
              <div class="md-form">
                <input type="number" class="form-control" placeholder="Price" formControlName="initialValue">
              </div>
            </div>
            <div class="col">
              <select class="my-select p-2" formControlName="status">
                <option disabled value="">Availability</option>
                <option value="true">Now</option>
                <option value="false">Later</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="md-form">
                <span>
                  <label class="badge badge-primary">Choose Images</label>
                  <input type="file" class="custom-file-input" (change)="selectFiles()" ng2FileSelect
                    [uploader]="uploader" multiple>
                </span>
                <ol *ngIf="uploader.queue.length > 0">
                  <li *ngFor="let item of uploader.queue">{{item._file.name}}
                    <span class="fa fa-times" style="float:right; font-size:20px; cursor: pointer; color: #d9534f"
                      (click)="item.remove()" [hidden]="item.isUploaded"></span>
                    <span class="fa fa-check" style="float:right; font-size:20px; color: #5cb85c"
                      *ngIf="item.isUploaded"></span>
                  </li>
                  <span *ngIf="uploader.isUploading">
                    <i style="font-size:25px; color:aquamarine" class="fa fa-spinner fa-spin"></i>
                  </span>
                  <button type="button" class="btn btn-success btn-sm" (click)="upload()"
                    [hidden]="uplod || uploader.isUploading || item?.isUploaded"><i
                      class="fa fa-cloud-upload">Upload</i></button>
                </ol>

              </div>
            </div>
          </div>
          <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit"
            [disabled]="!uploader.queue.length">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>