<footer class="page-footer center-on-small-only">
    <div class="social-section text-center">
        <ul>
            <li *ngIf="!auth.isAuthenticated()"><a class="btn-floating btn-ins" routerLink="/signup"><i class="fa fa-user-plus">
                    </i></a></li>
            <li *ngIf="!auth.isAuthenticated()"><a class="btn-floating btn-ins" routerLink="/login"><i class="fa fa-sign-in">
                    </i></a></li>
            <li><a href="https://www.facebook.com/shahrukh.ahmed.182" class="btn-floating btn-fb" target="_blank"><i
                        class="fa fa-facebook"> </i></a></li>
            <li><a href="https://twitter.com/shahrukhmusht15" class="btn-floating btn-tw" target="_blank"><i class="fa fa-twitter">
                    </i></a></li>
            <li><a href="https://www.linkedin.com/in/shahrukh-mushtaq-b650b0117/" class="btn-floating btn-li" target="_blank"><i
                        class="fa fa-linkedin"> </i></a></li>
            <li><a href="https://github.com/ShahrukhMushtaq" class="btn-floating btn-git" target="_blank"><i class="fa fa-github">
                    </i></a></li>
        </ul>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2019 Copyright: <a href="#"> OnlineAuction.com </a>
        </div>
    </div>
</footer>