<footer class="page-footer center-on-small-only">
    <div class="social-section text-center">
        <ul>
            <li><a class="btn-floating btn-fb"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="btn-floating btn-tw"><i class="fa fa-twitter"> </i></a></li>
            <li><a class="btn-floating btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="btn-floating btn-li"><i class="fa fa-linkedin"> </i></a></li>
            <li><a class="btn-floating btn-git"><i class="fa fa-github"> </i></a></li>
            <li><a class="btn-floating btn-ins"><i class="fa fa-instagram"> </i></a></li>
        </ul>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2019 Copyright: <a href="#"> OnlineAuction.com </a>
        </div>
    </div>
    <!-- <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav" style="display:inline-block">
            <li><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </nav> -->
</footer>